// app global css in SCSS form
@import "./border.scss";
@import "./color.scss";
@import "./general.scss";
@import "./reset.scss";

:root {
  --tx-clr-primary: #C5ADC5;
  --tx-clr-secondary: #B2B5E0;
  // --tx-clr-te: #000;
  --tx-clr-default: #000;
  --tx-clr-white: #fff;

}

@for $i from 1 through 10 {
  .is-text-#{$i} {
    font-size: #{(($i * 0.5) + 18)}px;
  }
}


