.color-pri{
color: var(--tx-clr-primary);
}

.color-sec{
color: var(--tx-clr-secondary);
}

.color-default{
color: var(--tx-clr-default);
}

.color-white{
 color: var(--tx-clr-white);
}

.bg-pri{
  background-color: var(--tx-clr-primary);
}

.bg-sec{
  background-color: var(--tx-clr-secondary);
}

.bg-default{
  background-color: var(--tx-clr-default);
}

.bg-white{
  background-color: var(--tx-clr-white);
}
